<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <provider
            android:name="com.mobilebytelabs.kmptoolkit.bubble.BubbleInitProvider"
            android:authorities="${applicationId}.kmptoolkit.bubble.init"
            android:exported="false"
            android:initOrder="99" />

        <!-- Activity rendered inside Android Bubbles (API 30+) -->
        <activity
            android:name="com.mobilebytelabs.kmptoolkit.bubble.android.BubbleActivity"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:exported="false"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" />
    </application>

</manifest>
