<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!--
        AppUpdateInitProvider automatically initializes the app update module.
        Uses Google Play In-App Updates API for seamless update experience.
        -->
        <provider
            android:name="com.mobilebytelabs.kmptoolkit.appupdate.AppUpdateInitProvider"
            android:authorities="${applicationId}.kmptoolkit.appupdate.init"
            android:exported="false"
            android:initOrder="99" />
    </application>

</manifest>
